.about-page {
  max-width: 1400px;
  margin: 100px auto;
}

.about-subheader {
  margin-bottom: 68px;
}

.about-request-icon,
.about-contact-icon,
.about-icon {
  width: 100%;
  max-width: 300px;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-social-logo {
  height: 30px;
  margin-right: 20px;
  margin-top: 20px;
}

.about-align-center {
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .about-page {
    text-align: center;
  }

  .about-order2 {
    order: 2;
  }

  .mx-auto {
    margin-bottom: 30px;
  }
}
