h4 {
  color: var(--main-blue);
  margin-bottom: 20px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: var(--light-yellow);
  height: 3px;
  margin-top: 80px;
  margin-bottom: 80px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  font-size: 1rem;
}

ul {
  list-style-type: square;
  color: var(--white);
}

a {
  color: var(--main-blue);
}

.button {
  background-color: var(--main-yellow);
  padding: 10px 16px;
  text-align: left;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.socialLogo {
  height: 30px;
  margin-right: 20px;
  margin-top: 20px
}

.align-center {
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.about-icon {
  height: 200px;
}

@media only screen and (max-width: 991px) {
  .mx-auto {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}