.about-page {
  max-width: 1400px;
  margin: 3rem auto;
  padding: 0 32px;
}

.about-page h2 {
  margin: 1rem 0;
}

.about-subheader {
  margin-bottom: 2rem;
}

.about-request-icon {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.about-contact-icon,
.about-icon,
.about-logo {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-page .about-social-logo {
  margin-right: 20px;
  margin-top: 20px;
}

.about-align-center {
  align-items: center;
  justify-content: center;
}

.about-community-partners-ul p,
.about-contact-list .about-list-item {
  margin: 4px 0 4px 32px;
}

@media only screen and (max-width: 1200px) {
  .about-contact-icon,
  .about-icon,
  .about-logo {
    max-width: 250px;
  }

  .about-logo {
    margin-bottom: 16px;
  }

  .about-request-icon {
    max-width: 200px;
  }

  .about-page {
    padding: 0 32px;
  }
}

@media only screen and (max-width: 768px) {
  .about-page {
    padding: 0 24px;
  }

  .about-order2 {
    order: 2;
  }

  .about-contact-icon,
  .about-icon,
  .about-logo {
    max-width: 150px;
  }

  .about-request-icon {
    max-width: 100px;
  }

  .about-social-logo-row {
    display: flex;
    justify-content: center;
  }

  .about-button-wrapper {
    display: flex;
  }

  .about-button-wrapper .primary-button {
    margin: 0 auto;
  }
}
