.about-page {
  max-width: 1400px;
  margin: 3rem auto;
  padding: 0 32px;
}

.about-page h2 {
  margin: 1rem 0;
}

.about-subheader {
  margin-bottom: 2rem;
}

.about-contact-icon,
.about-icon {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.about-page .about-social-logo {
  margin-right: 20px;
  margin-top: 20px;
}

.about-align-center {
  align-items: center;
  justify-content: center;
}

.about-contact-list {
  margin: 4px 0 4px 32px;
}

.heading-link {
  font-size: 24px;
  font-family: HelveticaNeueBold;
  text-decoration: underline;
  color: var(--main-blue);
}

.heading-link:hover {
  color: var(--main-cream);
}

@media only screen and (max-width: 1200px) {
  .about-contact-icon,
  .about-icon {
    max-width: 250px;
  }

  .about-page {
    padding: 0 32px;
  }
}

@media only screen and (max-width: 768px) {
  .about-page {
    padding: 0 24px;
  }

  .about-contact-icon,
  .about-icon {
    max-width: 150px;
  }

  .about-social-logo-row {
    display: flex;
    justify-content: center;
  }

  .about-icon {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .about-order1 {
    order: 1;
  }

  .padding-r {
    padding: 0 16px;
  }

  .about-hr {
    border: 0;
    clear: both;
    display: block;
    background-color: var(--main-yellow);
    height: 3px;
    margin: 50px 0;
  }
}
