.comm-partners-page {
  max-width: 1400px;
  margin: 3rem auto;
  padding: 0 32px;
}

.comm-request-icon {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.comm-icon {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.comm-align-center {
  align-items: center;
  justify-content: center;
}

.comm-partners-ul p {
  margin: 4px 0 4px 32px;
}

@media only screen and (max-width: 1200px) {
  .comm-icon {
    max-width: 250px;
  }

  .comm-request-icon {
    max-width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .comm-order2 {
    order: 2;
  }

  .comm-icon {
    max-width: 150px;
  }
}
