/* Tabs */
.faq .nav-tabs {
  display: flex;
  min-height: 3em;
  font-size: 1.2rem;
  border-bottom: 5px solid var(--main-yellow);
}

.faq .nav-link {
  border: 1px solid var(--main-yellow) !important;
  color: var(--main-yellow);
  flex-grow: 30;
}

.faq .nav-link:hover,
.faq .nav-link:focus,
.faq .nav-link:active {
  border: 1px solid var(--main-blue) !important;
  border-bottom: 0 !important;
  color: var(--main-blue);
}

.faq .nav-link.active {
  background-color: var(--main-yellow) !important;
  color: var(--main-black) !important;
  flex-grow: 70;
}

@media only screen and (max-width: 800px) {
  .faq .nav-link.active {
    width: 100%;
  }
}

/* Questions & Answers */
.faq-accordion-container {
  cursor: pointer;
  color: var(--main-black);
  background-color: var(--main-cream);
}

.faq-accordion-answer {
  background-color: var(--white);
}
