@font-face {
  font-family: cornerstone;
  src: url(Cornerstone.ttf);
}

.logotype {
  font-family: cornerstone;
  color: var(--main-yellow);
  font-size: 4rem;
  text-align: center;
  margin-top: 13rem;
}

.bio-blurb {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-white);
  font-size: 1.5rem;
  text-align: center;
}

.highlighted {
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 95%, #f8ed44 50%); */
  background-image: linear-gradient(to right, var(--main-yellow) 75%, transparent 75%);
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 3px;
}

.button-row {
  margin-top: 10rem;
  margin-bottom: 12rem;
}

.button {
  background-color: var(--main-yellow);
  padding: 20px 32px;
}

.track-titles {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-yellow);
  font-size: 1.85rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.arrow-icon {
  max-height: 20px;
}

.track-body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-white);
  font-size: 1.25rem;
  text-align: center;
  margin-top: 1.5rem;
}
