.home-page {
  max-width: 1400px;
  margin: 0 auto 4rem;
  text-align: center;
}

.logoRow {
  flex-direction: column;
}

.logo {
  margin: 86px auto 45px;
  max-width: 410px;
}

.home-page .logotype,
.home-bio-blurb {
  text-align: center;
}

.home-button-row {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.home-persona-section-left {
  padding-right: 48px;
}

.home-persona-section-right {
  padding-left: 48px;
}

.home-persona-text {
  font-family: HelveticaNeueMed;
  margin-bottom: 18px;
  display: block;
}

.home-arrow-down {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.home-track-titles {
  margin: 150px 0 55px;
}

.home-track-body {
  margin-top: 55px;
}

@media only screen and (max-width: 1120px) {
  .logo {
    margin: 86px auto 45px;
    max-width: 390px;
  }

  .home-persona-section-left {
    padding-right: 15px;
  }

  .home-persona-section-right {
    padding-top: 20px;
    padding-left: 15px;
  }

  .home-persona-text {
    margin-bottom: 10px;
  }

  .home-button-row {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .home-track-titles {
    margin: 100px 0 25px;
  }

  .home-track-images {
    max-width: 640px;
    max-height: 170px;
  }

  .home-track-body {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 671px) {
  .home-arrow-down {
    margin-top: 0rem;
    margin-bottom: 0rem;
    visibility: hidden;
  }

  .home-track-titles {
    margin-top: 3rem;
  }

  .home-track-images {
    max-width: 85%;
    max-height: 85%;
  }

  .home-track-body {
    margin-top: 15px;
  }
}
