.collapsable-section {
  color: var(--main-black);
  margin-bottom: 24px;
}

.confirmation-checks-modal h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}

.confirmation-checks-modal p {
  color: var(--main-black);
  font-size: 14px;
}

.confirmation-modal-button {
  margin-left: auto;
}

.confirmation-checks-modal label {
  display: flex;
}

.confirmation-checks-modal input {
  margin: auto;
  width: 24px;
  height: 24px;
}

.confirmation-checks-modal .confirmation-checks-text {
  margin-left: 16px;
  font-size: 14px;
  width: 100%;
}

.confirmation-btn-container {
  display: flex;
  margin-top: 24px;
}

.confirmation-btn {
  margin-left: auto;
  background-color: var(--main-blue);
  font-weight: bold;
}

.confirmation-btn:disabled {
  cursor: not-allowed;
}

.project-work-flow {
  margin-bottom: 24px;
}

.project-work-page h3 {
  font-size: 24px;
  margin-bottom: 4px;
}

.project-org-name {
  font-size: 20px;
}

.project-detail-title {
  font-weight: bold;
}

.project-detail-content {
  font-size: 14px;
  color: var(--main-black);
}

.project-detail-email {
  white-space: pre-line;
  line-height: 18px;
}

.copy-button {
  background-color: var(--main-blue);
  font-weight: bold;
  border: none;
}

.collapsable-section {
  border-radius: 10px;
}

.collapsable-header {
  display: flex;
  cursor: pointer;
}

.collapsable-header-title {
  margin-left: 16px;
}

.collapsable-content {
  padding: 24px 60px;
}

.collapsable-content p {
  color: var(--main-black);
}
