/** Multiple card view **/

.projects-page {
  max-width: 1400px;
  margin: 3rem auto;
  padding: 0 48px;
}

.projects-page .flow-images {
  margin: 1rem auto;
  display: block;
  padding-right: 1rem;
}

.preview-card {
  border-radius: 16px;
  margin: 16px 0px;
  box-shadow: 8px 8px 0px 2px rgba(249, 245, 227, 1);
  padding: 4px;
  cursor: pointer;
  background-color: var(--main-grey);
  position: relative;
}

.preview-card.preview-card:not(.select-view-preview-card) {
  height: 300px;
}

.preview-card:hover {
  background-color: var(--main-yellow);
  color: var(--main-black);
}

.preview-card:hover h5 {
  color: var(--main-black);
}

.preview-card-contents {
  max-height: 224px;
  overflow: hidden;
}

.preview-subtitle {
  margin-bottom: 16px;
  font-size: 20px;
}

.is-select-preview-card .project-tag,
.preview-card:hover .project-tag {
  color: var(--main-black);
  border: 2px solid var(--main-black);
}

.project-tag {
  border-radius: 8px;
  padding: 4px 8px;
  margin: 4px 8px 4px 0;
  font-size: 14px;
  font-family: HelveticaNeueBold;
  display: inline-block;
  border: 2px solid var(--light-yellow);
  color: var(--light-yellow);
}

.project-tag-urgent {
  border: 2px solid var(--main-blue);
  color: var(--main-blue);
}

.project-card-tags {
  margin-top: 16px;
}

.project-more-link {
  color: var(--main-blue);
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.preview-card:not(.is-select-preview-card):hover .project-more-link {
  color: var(--dark-blue);
}

.preview-card:not(.is-select-preview-card):hover .project-card-urgent {
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
}

.project-card-description {
  line-height: 1.3rem;
  margin-bottom: 24px;
}

/** Selected card view **/

.projects-back {
  color: var(--main-yellow);
  font-family: ArchivoBold;
  cursor: pointer;
  font-size: 20px;
  margin: 0 0 32px;
  display: inline-block;
}

.projects-back:hover {
  text-decoration: underline;
}

.project-description-card {
  border-radius: 16px;
  padding: 24px;
  background-color: var(--main-grey);
  margin-left: 32px;
  margin-right: -15px;
}

.project-description-close:before,
.project-description-close:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 4px;
  background-color: var(--main-cream);
  border-radius: 2px;
  top: -16px;
  cursor: pointer;
}

.project-description-close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 16px;
}

.project-description-close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: -16px;
}

.project-description-close {
  position: relative;
  height: 24px;
  width: 24px;
}

.project-description-subtitle {
  font-size: 24px;
}


.project-loading-spinner {
  margin-top: 3rem
}

.project-description-note {
  margin: 24px 0;
  font-style: italic;
}

.project-work-button {
  margin-top: 32px;
}

.project-list-panel {
  height: 800px;
  overflow-y: scroll;
  border-radius: 16px;
  padding: 24px;
  background-color: var(--main-cream);
}

.project-list-panel::-webkit-scrollbar {
  display: none;
}

.project-list-panel {
  -ms-overflow-style: none;
}

.select-view-preview-card {
  box-shadow: none;
}

.select-view-preview-card .preview-card-contents {
  padding-bottom: 32px;
}

.is-select-preview-card,
.is-select-preview-card:hover {
  background-color: var(--main-blue);
  color: var(--main-cream);
}

.is-select-preview-card:hover h5 {
  color: var(--main-cream);
}

.is-select-preview-card .project-card-urgent {
  border: 2px solid var(--main-black);
  color: var(--main-black);
}


@media only screen and (max-width: 992px) {
  .project-description-card {
    margin-left: 0;
  }

  .project-description-close {
    display: none;
  }

  .project-list-panel {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .projects-page {
    padding: 0 16px;
    margin-top: 16px;
  }

  .preview-card.preview-card:not(.select-view-preview-card) {
    margin-right: 8px;
    height: auto;
  }

  .preview-card-contents {
    max-height: none;
    margin-bottom: 24px;
  }

  .project-description-card {
    padding: 0;
    margin: 0;
  }

  .project-description-card p {
    margin-bottom: 0;
  }

  .project-card-description {
    max-height: calc(1.3rem * 3);
  }
}
