.project-work-page {
  max-width: 1400px;
  margin: 0 auto;
}

.project-work-flow {
  margin: 24px 0;
}

.collapsable-section {
  margin-bottom: 24px;
  border-radius: 10px;
}

.collapsable-header {
  display: flex;
  cursor: pointer;
}

.collapsable-header svg {
  margin: auto 0;
}

.collapsable-header-title {
  margin-left: 16px;
}

.collapsable-content {
  padding: 24px 60px;
  background-color: var(--main-grey);
}

.confirmation-checks-modal h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}

.confirmation-modal-button {
  margin-left: auto;
}

.confirmation-checks-modal label {
  display: flex;
}

.confirmation-checks-modal input {
  margin: auto;
  width: 32px;
  height: 32px;
}

.confirmation-checks-modal .confirmation-checks-text {
  margin-left: 16px;
  width: 100%;
}

.confirmation-btn-container {
  display: flex;
  margin-top: 24px;
}

.confirmation-btn {
  margin-left: auto;
}

.confirmation-btn:disabled {
  cursor: not-allowed;
}

.project-work-flow {
  margin-bottom: 24px;
}

.project-work-page h4 {
  margin-bottom: 4px;
}

.project-org-name {
  margin-bottom: 48px;
}

.project-detail-email {
  white-space: pre-line;
  line-height: 36px;
}

@media only screen and (max-width: 768px) {
  .collapsable-content {
    padding: 24px;
  }
}
