.project-work-page {
  position: relative;
}

.confirmation-checks-modal-base {
  position: fixed;
  top: 72px;
  left: 0;
  height: calc(100vh - 72px);
  width: 100vw;
  background-color: rgba(1, 1, 1, 0.6);
  align-content: center;
}

.confirmation-checks-modal {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 32px;
  width: 600px;
  margin: 16px auto;
}

.confirmation-checks-modal h2 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 16px;
}

.confirmation-checks-modal p {
  color: var(--main-black);
}

.confirmation-modal-button {
  margin-left: auto;
}

.confirmation-checks-modal label {
  display: flex;
}

.confirmation-checks-modal input {
  margin: auto;
  width: 32px;
  height: 32px;
}

.confirmation-checks-modal .confirmation-checks-text {
  margin-left: 16px;
  font-size: 14px;
}

.confirmation-btn-container {
  display: flex;
  margin-top: 24px;
}

.confirmation-btn {
  margin-left: auto;
}

.confirmation-btn:disabled {
  cursor: not-allowed;
}

.project-work-flow {
  margin-bottom: 24px;
}

.project-details-section {
  margin-bottom: 48px;
}

.project-org-name {
  font-size: 24px;
}

.project-detail-title {
  font-weight: bold;
  color: var(--white);
}

.project-detail-content {
  font-size: 14px;
}
