.request-page {
  margin: 3rem auto;
}

.request-page .flow-images {
  max-width: 55%;
  margin: 1rem 0rem;
}

@media only screen and (max-width: 992px) {
  .request-page .flow-images {
    max-width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .request-page h1 {
    margin-left: 16px;
  }
}
