.resource-page {
    max-width: 1400px;
    margin: 100px auto;
}

.row-align-center {
    align-items: center;
    justify-content: center;
}

.heading-link {
    font-size: 24px;
    font-family: HelveticaNeueBold;
    text-decoration:underline;
    color: var(--main-blue);
}

a:hover {
    color: var(--main-cream);
}

.icon {
    width: 100%;
    max-width: 300px;
}

.padding-r {
    padding-right: 50px;
}