.resource-page {
  max-width: 1400px;
  margin: 3rem auto;
  padding: 0 32px;
}

.resource-page h2 {
  margin: 1rem 0;
}


a:hover {
  color: var(--main-cream);
}

.padding-r {
  padding-right: 50px;
}

@media only screen and (max-width: 768px) {
  .resource-icon {
    max-width: 150px;
    margin-bottom: 0.35rem;
  }

  .resource-page {
    max-width: 1400px;
    margin: 30px auto;
  }





  .resources-order1 {
    order: 1;
  }

  .resource-page {
    text-align: left;
  }
}
