@font-face {
  font-family: cornerstone;
  src: url(Cornerstone.ttf);
}

.header-text {
  font-family: cornerstone;
  color: #f8ed44;
}

.btn-join-movement {
  font-family: cornerstone;
  background-color: #f8ed44;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar-styling {
  padding: 100px;
  position: fixed;
  top: 10%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
}

.nav-link {
  margin: 40px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.intro-blurb {
  background-color: #878680;
  min-height: 300px;
  margin-left: 0px;
}
