@font-face {
  font-family: cornerstone;
  src: url(Cornerstone.ttf);
}

.header-text {
  font-family: cornerstone;
  color: var(--main-yellow);
}

.btn-join-movement {
  font-family: cornerstone;
  background-color: var(--main-yellow);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar-styling {
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
}

.nav-link {
  margin: 8px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.intro-blurb {
  background-color: var(--main-grey);
  min-height: 300px;
  margin-left: 0px;
}
