.navbar {
  background-color: var(--main-grey);
}

.navbar-brand {
  display: flex;
}

.navbar-logotype {
  color: var(--main-yellow);
  font-size: 16pt;
  font-family: ArchivoBold;
  margin: auto 0 auto 16px;
}

.navbar .navbar-nav .navbar-text.nav-link {
  margin: 8px 12px;
  color: var(--main-yellow);
  font-family: HelveticaNeueMed;
  font-size: 32px;
}

.navbar .navbar-nav .navbar-text.nav-link:hover,
.navbar .navbar-nav .navbar-text.nav-link:active {
  color: var(--dark-yellow);
}

.footer {
  display: flex;
  background-color: var(--main-grey);
}

.footer-text {
  color: var(--main-cream);
  margin: 0;
  font-size: 24px;
}

.footer-social {
  margin: auto 0;
}

.footer-social-icon {
  margin: 0 8px;
}
