@font-face {
  font-family: Archivo;
  src: url(Archivo-Regular.ttf);
}

@font-face {
  font-family: cornerstone;
  src: url(Cornerstone.ttf);
}

#navbar-text {
  margin: 8px;
  color: var(--main-yellow);
  font-family: Archivo;
}

.btn-join-movement {
  font-family: cornerstone;
  background-color: var(--main-yellow);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar-styling {
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
}

.navbar {
  background-color: var(--main-black);
}

.intro-blurb {
  background-color: var(--main-grey);
  min-height: 300px;
  margin-left: 0px;
}
