.footer-text {
  color: var(--main-cream);
}

.navbar {
  background-color: var(--main-black);
}

.navbar-center-align {
  vertical-align: middle;
}

.navbar-logotype {
  color: var(--main-yellow);
  font-size: 16pt;
  margin-left: 10px;
  margin-top: 20px;
}

.navbar .navbar-nav .navbar-text.nav-link {
  margin: 8px 12px;
  color: var(--main-yellow);
  font-family: HelveticaNeueMed;
  font-size: 32px;
}

.navbar .navbar-nav .navbar-text.nav-link:hover,
.navbar .navbar-nav .navbar-text.nav-link:active {
  color: var(--dark-yellow);
}
