@import './styling/SiteContainer.css';

:root {
  /* theme colors */
  --main-cream: #f9f5e3;
  --main-light-grey: #878680;
  --main-grey: #1f1f1f;
  --main-black: black;
  --main-blue: #6bb4d6;
  --main-yellow: #f5cb5c;
  /* other colors */
  --white: white;
  --blue: #a7e6e8;
  --light-yellow: #fff0b3;
  --dark-yellow: #e0a800;
}

@font-face {
  font-family: Archivo;
  src: url('styling/fonts/Archivo-Regular.ttf');
}

@font-face {
  font-family: ArchivoBold;
  src: url('styling/fonts/Archivo-Bold.ttf');
}

@font-face {
  font-family: HelveticaNeueMed;
  src: url('styling/fonts/HelveticaNeue\ Medium.ttf');
}

@font-face {
  font-family: HelveticaNeueLight;
  src: url('styling/fonts/HelveticaNeue\ Light.ttf');
}

@font-face {
  font-family: HelveticaNeueBold;
  src: url('styling/fonts/Helvetica\ Neu\ Bold.ttf');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-black);
  font-family: HelveticaNeueLight, Helvetica, Arial, sans-serif;
  color: var(--main-cream);
}

h1 {
  font-size: 48px;
  color: var(--main-yellow);
  margin: 0;
  font-family: HelveticaNeueBold;
}

h1.logotype {
  font-family: ArchivoBold;
}

h2 {
  font-size: 36px;
  color: var(--main-yellow);
  margin: 30px 0;
  font-family: HelveticaNeueBold;
}

h3 {
  color: var(--main-blue);
  font-size: 32px;
  font-family: HelveticaNeueBold;
}

h3.logotype {
  font-family: Archivo;
}

h4 {
  color: var(--main-cream);
  font-size: 28px;
  font-family: HelveticaNeueBold;
}

h5 {
  color: var(--main-cream);
  font-size: 24px;
  font-family: HelveticaNeueBold;
}

p,
span {
  font-family: HelveticaNeueLight;
  font-size: 20px;
}

a,
a:hover,
a:visited {
  color: var(--main-blue);
}

ul {
  list-style-type: square;
}

li {
  font-family: HelveticaNeueLight;
  font-size: 24px;
}

.primary-button.btn,
.primary-button {
  background-color: var(--main-yellow);
  padding: 12px 35px;
  border-radius: 25px;
  color: var(--main-black);
  font-size: 24px;
  font-family: HelveticaNeueMed;
  border-color: var(--main-yellow);
}

.primary-button.btn:hover,
.primary-button.btn:active,
.primary-button:hover,
.primary-button:active {
  background-color: var(--dark-yellow);
  border-color: var(--dark-yellow);
}

.secondary-button.btn,
.secondary-button.btn:hover,
.secondary-button.btn:active,
.secondary-button,
.secondary-button:hover,
.secondary-button:active {
  background-color: var(--main-blue);
  padding: 12px 35px;
  border-radius: 25px;
  color: var(--main-black);
  font-size: 24px;
  font-family: HelveticaNeueMed;
  border-color: var(--main-blue);
}

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: var(--main-yellow);
  height: 3px;
  margin: 3rem 0;
}

.flow-images {
  max-width: 55%;
  max-height: 55%;
  height: auto;
}

@media only screen and (max-width: 678px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3,
  h5 {
    font-size: 24px;
  }

  h4 {
    font-size: 28px;
  }

  p,
  span,
  .primary-button.btn,
  .secondary-button.btn,
  .primary-button,
  .secondary-button {
    font-size: 16px;
  }

  .flow-images {
    max-width: 75%;
    max-height: 75%;
  }
}
